<%- include('../header') %>

  <% if ( tarefa !='' ) { tarefa.forEach((row, index)=> { %>
    <div class="container">
        <div class="cardCreate">
          <div class="tituloCreate">
            <h3>Editar Vaga de Emprego ( ID <%= row.ID %> ) </h3>
            <hr>
          </div>
          <div class="updateMain">
            <form action="/tarefa/<%= row.ID %>" method="POST">
              <div class="imput_large">
                <label for="Nome" class="col-sm-3 col-form-label col-form-label-lg">Nome:</label>
                <input type="text" name="Nome" class="form-control form-control-lg" placeholder="Informe o nome..."
                  value="<%= row.Nome %>" required />
              </div>
              <div class="imput_large">
                <label for="Descricao" class="col-sm-3 col-form-label col-form-label-lg">Descrição:</label>
                <input type="text" name="Descricao" class="form-control form-control-lg"
                  placeholder="Digite a descrição..." value="<%= row.Descricao %>" required />
              </div>
              <div class="btn-group finalizado" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="Finalizado" id="btnradio1" value="true" autocomplete="off" <% if (row.Finalizado) { %> checked <% } %> >
                <label class="btn btn-outline-success" for="btnradio1">Finalizado</label>
                
                <input type="radio" class="btn-check" name="Finalizado" id="btnradio2" value="false" autocomplete="off" <% if (!row.Finalizado) { %> checked <% } %> >
                <label class="btn btn-outline-danger" for="btnradio2">Pendente</label>
            </div>
              <div class="divGravar">
                <input type="submit" name="submit" value="Gravar" class="btn-dark2" />
              </div>
            </form>
          </div>
      </div>
    </div>
    <% }) } %>

<%- include('../footer') %>